name: Selenium Automation Run

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Chrome Stable
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable

      - name: Install ChromeDriver Stable
        uses: nanasess/setup-chromedriver@v2

      - name: Verify Chrome Version
        run: google-chrome --version

      - name: Verify ChromeDriver Version
        run: chromedriver --version

      - name: Create libs folder (avoid exit code 8)
        run: mkdir -p libs

      - name: Build and Run Tests
        run: mvn clean test

      - name: Upload Failed Test Screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: |
            screenshots/
            *.html
